In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('usuarios_sucios.csv')
df.shape
df.head(10)

,id_usuario,nombre,email,fecha_registro,ciudad,plan,telefono,utm_source,utm_campaign,columna_innecesaria1,columna_innecesaria2
0,NaN,Camila Fuentes,NaN,05-11-2023,La Florida,NaN,+56 9 4517 1614,NaN,SUMMER,1145.0,x
1,NaN,Javiera Silva,correo_invalido,2025-05-19,Puente Alto,Free,+56 9 7499 1812,google,blackfriday,NaN,y
2,3.0,Javiera Silva,javiera836@outlook.com,NaN,La Florida,Pro,9-123,google,summer,NaN,
3,4.0,camila fuentes,camila307@outlook.com,NaN,PUENTE ALTO,Free,NaN,linkedin,SUMMER,4718.0,x
4,5.0,JAVIERA SILVA,NaN,06/05/2025,NaN,Free,9-123,linkedin,SUMMER,NaN,x
5,NaN,NaN,correo_invalido,06-07-2024,puente alto,NaN,9-123,NaN,NaN,NaN,NaN
6,7.0,MARÍA LÓPEZ,maría787@empresa.cl,28-08-2023,PUENTE ALTO,free,+56 9 7405 9134,meta,SUMMER,NaN,y
7,8.0,diego herrera,diego700@mail.com,2024-13-40,Providencia,Pro,9-123,meta,summer,7946.0,NaN
8,9.0,Luis Diaz,luis379@empresa.cl,09/01/2023,Puente Alto,NaN,9-123,GOOGLE,SUMMER,NaN,
9,10.0,Juan Soto,juan196@gmail.com,2024-13-40,MAIPÚ,Free,+56 9 6571 1861,google,blackfriday,8792.0,NaN

In [ ]:
#Eliminar columanas innecesarias
df_new= df.drop(columns=['columna_innecesaria1','columna_innecesaria2'])
df_new.head()

,id_usuario,nombre,email,fecha_registro,ciudad,plan,telefono,utm_source,utm_campaign
0,NaN,Camila Fuentes,NaN,05-11-2023,La Florida,NaN,+56 9 4517 1614,NaN,SUMMER
1,NaN,Javiera Silva,correo_invalido,2025-05-19,Puente Alto,Free,+56 9 7499 1812,google,blackfriday
2,3.0,Javiera Silva,javiera836@outlook.com,NaN,La Florida,Pro,9-123,google,summer
3,4.0,camila fuentes,camila307@outlook.com,NaN,PUENTE ALTO,Free,NaN,linkedin,SUMMER
4,5.0,JAVIERA SILVA,NaN,06/05/2025,NaN,Free,9-123,linkedin,SUMMER

In [ ]:
#Asegura que todo sea texto (aunque haya números, NaN, mezclas Elimina espacios invisibles
s = df_new["fecha_registro"].astype("string").str.strip()
#deja todas la fechas iguales
s = s.str.replace(".", "/", regex=False).str.replace("-", "/", regex=False)
# cambia a formato fecha los datos ya limpiados
df_new["fecha_registro"] = pd.to_datetime(
    s,
    errors="coerce"
)

df_new.head()

,id_usuario,nombre,email,fecha_registro,ciudad,plan,telefono,utm_source,utm_campaign
0,NaN,Camila Fuentes,NaN,2023-05-11,La Florida,NaN,+56 9 4517 1614,NaN,SUMMER
1,NaN,Javiera Silva,correo_invalido,NaT,Puente Alto,Free,+56 9 7499 1812,google,blackfriday
2,3.0,Javiera Silva,javiera836@outlook.com,NaT,La Florida,Pro,9-123,google,summer
3,4.0,camila fuentes,camila307@outlook.com,NaT,PUENTE ALTO,Free,NaN,linkedin,SUMMER
4,5.0,JAVIERA SILVA,NaN,2025-06-05,NaN,Free,9-123,linkedin,SUMMER